<h1>Hai Teman-teman DSC Rails!</h1>
<strong> 7 Juli 2018</strong>
<hr>
Project ini merupakan project contoh untuk belajar validasi form dan assosiasi.
<br>
<br>
Untuk menambahkan <i>validasi</i>, cek <strong>file yang ada di dalam model</strong> dan <strong> coba inputkan data kosong</strong>.
<br>
<br>
Untuk menambahkan <i>assosiasi</i>, cek <strong>file yang ada di dalam model</strong> dan <strong>penggunaannya dalam form dan index</strong>.
<!-- Cek model teacher dan  -->
